/* styles.css */
.nav {
    /* Navbar styles */
  }
  
  .nav .active-tab.blue {
    color: blue;
  }
  
  .nav .active-tab.red {
    color: red;
  }
  
  .subnav.blue a {
    color: blue;
  }
  
  .subnav.red a {
    color: red;
  }
  .logo-class {
    height: auto; /* Adjust the height accordingly */
    width: auto; /* Maintain aspect ratio */
    max-height: 100px; /* Set a maximum height */
  }


  